<br />
<div class="center_content">
<h1><i class="user icon"></i><i><b>Your Boards</b></i></h1>
<br />
<%= link_to "Add a New Board", new_board_path, class: "ui small basic inverted grey button" %>
</div>
<hr />
<br />
<br />
<h2><%= @boards.length <= 0 ? "No Boards" : "" %></h2>
<% @boards.each do |board| %>
  <br />
      <ul>
        <ol>
          <div class="board_show">
          <%= link_to board_path(board), class: "ui small basic inverted button blue" do %>
            <i class="book icon"> </i><%= board.name %>
            <% end %>
        
            <%= link_to edit_board_path(board), class: "ui small basic inverted button teal" do %>
            <i class="edit icon"></i>Edit this Board
            <% end %>
            
            <%= link_to board_path(board), method: :delete, class: "ui small basic inverted red button" do  %>
            <i class="ban icon"></i>Delete Board
              <% end %>
      </div>
      <br />
      </ol>
      </ul>
  <% end %>

  

