<br />
<br />
<div class="center_content">
<h1><i>Board:  <%= @board.name %></i></h1>
<button class= "ui small basic inverted red button">
<i class="ban icon"></i>
<%= link_to "Delete Board", @board, method: :delete  %>
</button>
</div>
<hr />
<br />

<div class='board_show'>
<h2><i>Your Lists: </i></h2>
<%= link_to "Create a New List", new_board_list_path(@board), class: "ui small basic inverted teal button" %>
</div>
<br />


<div class="ui three column grid">
  <% @board.lists.each do |list| %> 
    <div class="column">
      <div class="ui teal fluid link card">
        
      <%= link_to board_list_path(@board, list), class: "image" do %>
        <img src='https://css-tricks.com/wp-content/uploads/2017/09/radial-gradient.png'>
      <% end %>
          
      <div class="content">
        <div class="left floated">
          <b><i>List Name: </i></b>
        </div>
          <span class="right floated">
            <i><%= list.name %></i>
          </span>
      </div>

        <div class="content">
          <div class="left floated">
            <b><i>Date Created: </i></b>
          </div>
            <div class="right floated meta">
              <span class="date">
                <%= list.date_created %>
              </span>
            </div>
        </div>
        
        <div class="extra content">
          <div class="ui two small buttons">
            <div class='ui small basic inverted green button'>
              <%= link_to "Edit this List", edit_board_list_path(@board, list) %>
            </div>
            <div class= "ui small basic inverted red button">
              <%= link_to "Delete List", board_list_path(@board, list), method: :delete %>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  <% end %>
</div>
  
